## Scrapping_Tableau_Wikipédia

https://fr.wikipedia.org/wiki/Liste_des_pays_par_PIB_nominal

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://fr.wikipedia.org/wiki/Liste_des_pays_par_PIB_nominal"

page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.content, "html")

In [6]:
table = soup.find("table", {"class": "wikitable"})

# Extraction des en-têtes de colonnes
headers = [th.text for th in table.find_all("th")]

# Extraction des données de chaque ligne
data = []
for row in table.find_all("tr")[1:]:
    rowData = [td.text for td in row.find_all("td")]
    data.append(rowData)

# Création du dataframe
df = pd.DataFrame(data, columns=headers)

In [7]:
df

,Pays/Zone,PIB 1980,PIB 1981,PIB 1982,PIB 1983,PIB 1984,PIB 1985,PIB 1986,PIB 1987,PIB 1988,PIB 1989\n
0,Afghanistan,-,-,-,-,-,-,-,-,-,-\n
1,Albanie,"1,946","2,229","2,296","2,319","2,29","2,339","2,587","2,566","2,53","2,779\n"
2,Algérie,"42,346","44,372","44,78","47,529","51,513","61,132","61,535","63,3","51,664","52,558\n"
3,Andorre,-,-,-,-,-,-,-,-,-,-\n
4,Angola,"6,639","6,214","6,214","6,476","6,864","8,457","7,918","9,05","9,818","11,421\n"
...,...,...,...,...,...,...,...,...,...,...,...
175,Europe,"4 010,918","3 611,61","3 497,215","3 407,79","3 274,057","3 388,582","4 559,171","5 600,516","6 269,995","6 370,237\n"
176,Amérique du Nord,"3 389,979","3 841,238","3 900,909","4 177,174","4 630,542","4 955,745","5 140,043","5 487,108","5 985,876","6 497,755\n"
177,Amérique du Sud,"581,821","584,723","495,199","464,119","454,873","500,955","565,126","599,567","667,981","731,535\n"
178,Union européenne,"3 213,784","2 841,605","2 754,678","2 693,519","2 592,423","2 669,607","3 659,618","4 484,642","4 953,683","5 042,513\n"
179,Monde,"11 232,069","11 526,241","11 310,303","11 610,283","12 025,117","12 553,732","14 793,158","17 032,786","19 156,083","20 154,504\n"

### Scrapping_Tableau_NBA

In [8]:
url = "https://www.basketball-reference.com/leagues/NBA_2022_per_game.html"

page = requests.get(url)

In [9]:
soup = BeautifulSoup(page.content, "html")

In [12]:
table = soup.find("table", {"id": "per_game_stats"})

# Extraction des en-têtes de colonnes
headers = [th.text for th in table.find_all("th")[:29]]

# Extraction des données de chaque ligne
data = []
for row in table.find_all("tr")[1:]:
    rowData = [td.text for td in row.find_all("td")]
    data.append(rowData)

# Création du dataframe
df = pd.DataFrame(data, columns=headers)

In [13]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,.439,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,.547,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,.557,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,.402,...,.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,.550,...,.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,.465,...,.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
838,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,.460,...,.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
839,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,.526,...,.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
840,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,.567,...,.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2
841,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,.626,...,.727,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3